/* contenido para ordenar------------------------------------------------------------------------------------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');



.contenedor-u{
  padding-top: 30px;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 2000px;
  

}
.contenedor-comida{
  
  font-family: 'Montserrat', sans-serif;
  width: 80%;
  margin-left: 20vh;
  margin: 0 auto;
  height: 100%;
  display: block;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  
}
.contenedor-comida .titulo{
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  font-size: 50px;
  font-style: bold;
}

.outer {
  
  float: left;
  display: inline;
  margin-left: 3.2vh;
  margin-right: 1.2vh;
  margin-bottom: 2vh;
  width: 450px;
  height: 350px;
  border-radius: 40px;
  background: #fff;
  border: 1px solid #f0f0f0;
  
  box-shadow: 1px 6px 9px 0px rgb(0 0 0 / 9%);
  overflow: hidden;
}

.inner {
  width: 530px;
  height: 70%;
  object-fit: cover;
  border: 1px solid #f0f0f0;
  border-bottom-right-radius: 80px;
  transform: translateX(-4px) translateY(-20px) rotate(5deg);
}

.item {
  height: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 26px;
}

.item-name h4 {
  font-size: 18px;
  font-weight: bold;
  color: #11313c;
}

.item-name p {
  font-size: 12px;
  font-weight: 500;
  color: #949a98;
}

.item-price {
  display: flex;
  flex-direction: column;
}

.item-price p {
  font-size: 18px;
  font-weight: bold;
  color: #f7736e;
  text-align: right;
}

.rating {
  display: flex;
}

.rating > div {
  width: 15px;
  height: 15px;
  background: #f7736e;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.outer:hover {
  transform: scale(1.01);
}
/* contenido para ordenar------------------------------------------------------------------------------------------------------------------------------------------------*/

.card-title {
  font-weight: 300;
  font-size: 2rem;
}
.product-card .card {
  margin: 20px;
  overflow: hidden;
}
.product-card .card .card-content {
  padding: 5px;
}
.product-card .card .price {
  width: 90px;
  height: 90px;
  font-weight: 600;
  font-size: 1.45rem;
  line-height: 90px;
  margin: 10px;
  position: absolute;
  top: 0;
  letter-spacing: 0;
}
.product-card ul.card-action-buttons {
  margin: -18px 7px 0 0;
  text-align: right;
}
.product-card ul.card-action-buttons li {
  display: inline-block;
  padding-left: 7px;
}
.product {
  width: 20%;
  padding: 10px;
}
.product .card {
  margin: 0;
}
.product .card .card-content {
  padding: 5px 10px;
}
.titulo{
  
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    font-size: 50px;
}