.btn-product-des{
    cursor: pointer;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 700px;
    right: 0px;
    
}
.btn-product-des i{
    cursor: pointer;
    color: rgb(252, 4, 4);
   
}

/* Menu lateral */


.product-des{
    background-color: rgba(255, 255, 255, 0.5); 
    width: 323px;
    height: 200vh;
    position: absolute;
    top: 700px;
    /* float: left; */
    right: 0;
    z-index: 99;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
    border-radius: 15px;
}

.product-des-container{
    width: 323px;
    height: 200vh;
    background-color: rgba(255, 255, 255, 0.815);
    position: absolute;
    z-index: 99;
    transition: all 500ms ease;
    transform:  translateX(100%);
    border-radius: 15px;
    box-shadow: -3px 2px 10px rgb(0 0 0 / 19%);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

#btn-product-des:checked ~ .product-des{
    opacity: 1;
    visibility: visible;
}

#btn-product-des:checked ~ .product-des .product-des-container{
    transform:  translateX(0%);
}

.detached-dishes{
    width: 100%;
    height: auto;
    padding: 20px;
    color: c7c7c7;
    border-bottom: 1px solid rgb(192, 192, 192);
}
.row-dishes{
    display: flex;
    background-color: violet;
    height: auto
}
.rowcontent{
    
}

.dishes-sold{
    width: 100%;    
    height: 33%;
    padding: 20px;
    color: c7c7c7;
    border-bottom: 1px solid rgb(192, 192, 192);
    
}

.new-dishes{
    width: 100%;
    height: 33%;
    padding: 20px;
    color: c7c7c7;
    border-bottom: 1px solid rgb(192, 192, 192);
}

.product-des .product-des-container label{
    position: absolute;
    color: white;
    left: 7px;
    top: 7px;
    
}
.product-des .product-des-container label i{
    color: rgb(255, 0, 0);
    cursor: pointer;
}